*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}

.container h1  img{
  width: 60px;
}

.container button  {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: 0;
    margin:20px 0 20px;
    border-radius:30px 0 20px;
    cursor: pointer;
    padding: 15px 25px;
    background: linear-gradient(    #9418fd,#571094);
    border-radius: 40px;

}

.container button img{
    width: 25px;
    margin-right: 8px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    border: 0;
    outline: 0;
    min-height: 50vh;
    background: #fff;
    color: #333;
    font-size: 25px;
    padding: 20px;
    border-radius: 5px;
}

.input-box img{
    position: absolute;
    width: 30px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;

}

